<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/pages/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onAddFavorites()">
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h1>{{product.title}}</h1>
  <ion-img [src]="product.imageUrl"></ion-img>
  <p>{{product.description}}</p>
</ion-content>
