<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/pages/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onAddFavorites()">
        <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  

  <ion-card>
    <ion-img [src]="product.imageUrl"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{product.price | currency}}</ion-card-subtitle>
      <ion-card-title>{{product.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{product.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
