<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/pages/products"></ion-back-button>
    </ion-buttons>
    <ion-title>Ürün Ara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Ara..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
 
<ion-list>
    <ion-list-header>
      Filtrelenen Ürünler
    </ion-list-header>

    <ion-item  *ngFor="let data of loadedProducts | filter:filterTerm" detail [routerLink] = "['/', 'app', 'pages', 'products', data.id]">
      <ion-thumbnail slot="start">
        <img [src]="data.imageUrl">
      </ion-thumbnail>
      <ion-label>
        <h2>{{data.title}}</h2>
        <h3>{{data.price}}</h3>
        <p>{{data.description}}</p>
      </ion-label>
    </ion-item>

  
  </ion-list>

</ion-content>

